/*
HTML Hierarchy

-head
-body
	-page-header
		-p
			-h1
	-content container
		-row
			-col-md-8
				-post
					-h1
						-a
					-p
					-date
*/

body {
	background-color: #E5E4E2;
}

.page-header {
	text-align: center;
	background-color: #666362;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-family: "Lobster", cursive;
    color: white;
    font-size: 50pt;
    text-decoration: underline;
    text-align: center;
}

.content {
    margin-left: 375px;
}

.post {
	margin-bottom: 75px;
	margin-top: 50px;
}

.post p {
	width: 100%;
	color: black;
	font-family: Comic Sans MS;
}

.post_detail p{
	color: black;
	font-family: Times New Roman;
	font-size: 15px;
}

.post h1 a, .post h1 a:visited {
	color: orange;
	font-family: Century Gothic;
}

.post h1 {
	color: blue;
	font-family: Century Gothic;
}

.date {
	font-family: Times New Roman;
	color: green;
}

.date p {
	color: blue;
	font-family: Times New Roman;
}





/* Check to see what this is*/
.save {
	float: left;
}

.post-form texarea, .post-form input {
	width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
/* end of "need to be checked" items*/